<section class="about">

  <div class="author">
    <h1>Max Minkoff</h1>
    <img src="http://gravatar.com/avatar/394bb558a25fa0d557adf9a79ced4a08">

    <div class="contact">
      <a href="mailto:max@planetminkoff.com">max@planetminkoff.com</a>
    </div>

    <p>

    </p>
  </div>

  <div class="author">
    <h1>Mike Nicholaides</h1>

    <img src="http://gravatar.com/avatar/fe5316cd0179fa48d05175cf98e00e7a">

    <div class="contact">
      <a href="http://ablegray.com">ablegray.com</a><br>
    </div>

    <p>
      I’m an experienced and reliable web application developer who’s passionate about building software to help startups and small business grow and thrive.
    </p>
  </div>
</section>
