<section class="about">

  <div class="author">
    <h1>Max Minkoff</h1>
    <img src="http://gravatar.com/avatar/394bb558a25fa0d557adf9a79ced4a08">

    <div class="contact">
      <a href="/contact_max.html">Contact Max</a>
    </div>

    <p>
      With both an MBA and a masters degree in Virtual Reality, Max specializes in finding an efficient way to implement what's in the big picture. Max uses Ember.js every day to build fast and dynamic websites.
    </p>
  </div>

  <div class="author">
    <h1>Mike Nicholaides</h1>

    <img src="http://gravatar.com/avatar/fe5316cd0179fa48d05175cf98e00e7a">

    <div class="contact">
      <a href="http://ablegray.com">ablegray.com</a><br>
    </div>

    <p>
      I’m an experienced and reliable web application developer who’s passionate about building software to help startups and small business grow and thrive.
    </p>
  </div>
</section>
